/*----------------- Start Navbar Section -----------------------*/
.orange-circle {
  width: 50px;
  height: 50px;
  background-color: #FE4723;
}

.hover-orange:hover {
  color: #FE4723 !important;
}

.image-style {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.image2-style {
  width: 35px;
  height: 35px;
}

/*----------------- End Navbar Section -----------------------*/


/*----------------- Start Main-Content Section -----------------*/
.recipe-image-container {
  position: relative;
}

.recipe-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-image-container .info-card {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-image-container .rating {
  position: absolute;
  left: 1.5rem;
  background: rgba(255, 255, 255, 0.95);
}

.recipe-image-container .rating {
  top: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.recipe-image-container .info-card {
  bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.tab-content {
  height: 350px;
  overflow-y: auto;
}

.tab-button.active {
  border-bottom: 2px solid #fd7e14;
  color: #fd7e14 !important;
}


.badge1 {
  background-color: #DBFCE7;
  color: #008236;
}

.badge2 {
  background-color: #DBEAFE;
  color: #1447E6;
}

.btn-style {
  background-color: #FFEDD4;
  color: #F54A00;

}

.btn-style:hover {
  background-color: #FFD7A8;
  color: #F54A00;
}

.nav-tabs .nav-link {
  color: #6c757d !important;
  border: none !important;
}

.nav-tabs .nav-link.active {
  color: #F54A00 !important;
  border: none !important;
  border-bottom: 3px solid #F54A00 !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.ingredients-background {
  background-color: #FFFAEC;
}

.rounded-background {
  background-color: #FF6900;
  width: 24px;
  height: 24px;

}

.rounded-background2 {
  background-color: #FF6900;
  width: 48px;
  height: 48px;

}

.bgorange {
  color: #E17100;
}

.nutritionstyle1 {
  background-color: #FFEDD4;
  color: #F54A00;
}

.nutritionstyle2 {
  color: #D08700;
}

.nutritionstyle3 {
  background-color: #FFE2E2;
  color: #E7000B;
}

.nutritionstyle4 {
  background-color: #DBFCE7;
  color: #00A63E;
}

.nutritionstyle5 {
  background-color: #FCE7F3;
  color: #E60076;
}

.btn-gradient {
  background: linear-gradient(90deg, #FF6500 0%, #FB2E36 100%);
  transition: transform 0.18s ease
}

.btn-gradient:hover {
  background: #ED2600;
  transform: scale(1.04);

}

.col-lg-7 {
  scrollbar-width: thin;
  scrollbar-color: #FFDBD2 transparent;
}

.col-lg-7::-webkit-scrollbar {
  width: 5px;
}

.col-lg-7::-webkit-scrollbar-track {
  background: transparent;
}

.col-lg-7::-webkit-scrollbar-thumb {
  background-color: #FFDBD2;
  border-radius: 4px;
  border: 2px solid transparent;
}

.col-lg-7::-webkit-scrollbar-thumb:hover {
  background-color: #FFDBD2;
}
/*----------------- End Main-Content Section -----------------*/